@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Reset */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/auth-background.svg");
}
.capitalize {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
}
.icon {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}
